<div>
  <ul>
    <li>
      Country: {{{country}}}
    </li>
    <li>
      Address 1: {{{address1}}}
    </li>
    <li>
      Address 2: {{{address2}}}
    </li>
    <li>
      City: {{{city}}}
    </li>
    <li>
      Zipcode: {{{zipcode}}}
    </li>
  </ul>
  <hr>
</div>