<div>
  <div class="bg-contact2">
    <div class="wrap-contact2  d-flex" style="width:90%">
      <form class="contact2-form col-lg-3" method="POST" action="/api/create-location">
        <span class="contact2-form-title">
          New Destination
        </span>
        <div class="wrap-input2">
          <input class="input2 country" id="custID" name="custID" type="text">
          <span class="focus-input2" data-placeholder="Customer ID"></span>
        </div>
        <div class="wrap-input2">
          <input class="input2 country" id="country" name="country" type="text">
          <span class="focus-input2" data-placeholder="Country"></span>
        </div>
        <div class="wrap-input2">
          <input class="input2 address1" name="address1" type="text">
          <span class="focus-input2" data-placeholder="Address 1"></span>
        </div>
        <div class="wrap-input2">
          <input class="input2 address2" type="text" name="address2">
          <span class="focus-input2" data-placeholder="Address 2"></span>
        </div>
        <div class="wrap-input2">
          <input class="input2 city" type="text" name="city">
          <span class="focus-input2" data-placeholder="City"></span>
        </div>
        <div class="wrap-input2">
          <input class="input2 zipcode" type="number" name="zipcode">
          <span class="focus-input2" data-placeholder="Zipcode"></span>
        </div>
        <div class="wrap-input2">
          <input class="input2 region" type="text" name="region">
          <span class="focus-input2" data-placeholder="State/Province/Region"></span>
        </div>
        <div class="container-contact2-form-btn">
          <div class="wrap-contact2-form-btn">
            <div class="contact2-form-bgbtn"></div>
            <button class="contact2-form-btn" type="submit" id="addNewLocationBtn">
              Add New Destination
            </button>
          </div>
      </form>
    </div>
    <div style="margin:10%;">
      <h1 class="contact2-form-title">Address Book</h1>
      <table id="tablePreview" class="table table-hover ">
        <!--Table head-->
        <thead>
          <tr>
            <th>ID</th>
            <th>Customer Reference</th>
            <th>Country</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>Zipcode</th>
          </tr>
        </thead>
        <!--table body-->
        <tbody id="output">
          {{#each AddressBooks}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.custID}}</td>
            <td> {{this.country}}</td>
            <td> {{this.address1}}</td>
            <td> {{this.address2}}</td>
            <td>{{this.city}}</td>
            <td> {{this.zipcode}}</td>
            <td>
              <a href="/api/delete-location/{{this.id}}">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i>
              </button>
              </a>
            </td>
            <td>
              <button type="button" data-id="{{this.id}}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
          {{/each}}
          <hr>
        </tbody>
      </table>
    </div>
  </div>