<div class="bg-contact2 ">
  <div class="wrap-contact2 d-flex" style="width:90%;">
    <form class="contact2-form col-lg-3" method="POST" action="/api/create-hazmat">
      <span class="contact2-form-title">
        Add New Hazmat
      </span>
      <div class="wrap-input2">
        <input class="input2 unNum" id="unNum" name="unNum" type="text">
        <span class="focus-input2" data-placeholder="United Nations Number"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 name" id="name" name="name" type="text">
        <span class="focus-input2" data-placeholder="Technical Name"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 class" name="class" type="text">
        <span class="focus-input2" data-placeholder="Hazard Class"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 pg" name="pg" type="text">
        <span class="focus-input2" data-placeholder="Packing Group"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 packingInst" type="text" name="packingInst">
        <span class="focus-input2" data-placeholder="Packaging Instructions"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 packingInstCAO" type="text" name="packingInstCAO">
        <span class="focus-input2" data-placeholder="Packaging Instructions Cargo Aircraft Only"></span>
      </div>
      <div class="container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <button class="contact2-form-btn" type="submit" id="addNewHazmat">
            Upload New Hazmat
          </button>
        </div>
      </div>
    </form>
    <div style="margin:10%">
      <h1 class="contact2-form-title">Hazmat Database</h1>
      <table id="tablePreview" class="table table-hover ">
        <!--Table head-->
        <thead>
          <tr>
            <th>UN Number</th>
            <th>Technical Name</th>
            <th>Hazard Class</th>
            <th>Packing Group</th>
            <th>Packing Instructions</th>
            <th>Packing Instructions CAO</th>
          </tr>
        </thead>
        <!--table body-->
        <tbody id="output">
          {{#each hazmats}}
          <tr>
            <td>{{this.unNum}}</td>
            <td> {{this.name}}</td>
            <td> {{this.class}}</td>
            <td> {{this.pg}}</td>
            <td>{{this.packingInst}}</td>
            <td> {{this.packingInstCAO}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>