<div class="bg-contact2">
  <div class="wrap-contact2 ">
    <form class="contact2-form col-lg-6" method="POST" action="/api/create-hazmat">
      <span class="contact2-form-title">
        New Hazmat
      </span>
      <div class="wrap-input2">
        <input class="input2 unNum" id="unNum" name="unNum" type="text">
        <span class="focus-input2" data-placeholder="United Nations Number"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 name" id="name" name="name" type="text">
        <span class="focus-input2" data-placeholder="Technical Name"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 class" name="class" type="text">
        <span class="focus-input2" data-placeholder="Hazard Class"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 pg" name="pg" type="text">
        <span class="focus-input2" data-placeholder="Packing Group"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 packingInst" type="text" name="packingInst">
        <span class="focus-input2" data-placeholder="Packaging Instructions"></span>
      </div>
      <div class="wrap-input2">
        <input class="input2 packingInstCAO" type="text" name="packingInstCAO">
        <span class="focus-input2" data-placeholder="Packaging Instructions Cargo Aircraft Only"></span>
      </div>
      <div class="container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <button class="contact2-form-btn" type="submit" id="addNewHazmat">
            Add New Hazmat
          </button>
        </div>
      </div>
    </form>
     <div>
      <h1>
     {{#each hazmats}}
     {{!-- {{#}} --}}
    <ul>
     <li>
       UN Number: : {{this.unNum}}
     </li>
       <li>
       Technical Name: {{this.name}}
     </li>
       <li>
       Hazard Class {{this.class}}
     </li>
       <li>
       Packing Group:  {{this.pg}}
     </li>
      <li>
       Packing Instructions: {{this.packingInst}}
     </li>
      <li>
       Packing Instructions CAO: {{this.packingInstCAO}}
     </li>
    </ul>
    <br>
      {{/each}}
      </h1>
    </div>
    </div>
    </div>